@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Public+Sans:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #111813;
  background-color: #f6f8f6;
}

body {
  @apply font-display bg-background-light text-[#111813] min-h-screen;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

@keyframes scanLine {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(100% - 3px));
  }
}

.scan-frame {
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.35);
}

.scan-line {
  animation: scanLine 2.5s linear infinite;
  box-shadow: 0 0 10px #13ec49, 0 0 20px #13ec49;
}
